<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.brutaljuices">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JugosNaturales" />
        <activity android:name=".JugosNoNaturales" />
        <activity android:name=".Reportes" />
        <activity android:name=".JZapote" />
        <activity android:name=".JNispero" />
        <activity android:name=".JBanano" />
        <activity android:name=".JFresa" />
        <activity android:name=".JMora" />
        <activity android:name=".JBorojo" />
        <activity android:name=".JMango" />
        <activity android:name=".JGuanabana" />
        <activity android:name=".JNaranja" />
        <activity android:name=".JRemolacha" />
        <activity android:name=".JCereza" />
        <activity android:name=".JPina" />
        <activity android:name=".JPapaya" />
        <activity android:name=".JGuayaba" />
        <activity android:name=".JZanahoria" />
        <activity android:name=".JTamarindo" />
        <activity android:name=".JCarambola" />
        <activity android:name=".JNDelValle" />
        <activity android:name=".JNHit" />
        <activity android:name=".JNPetit" />
        <activity android:name=".JNCalifornia" />
        <activity android:name=".JugoMasVendido" />
        <activity android:name=".JugoMenosVendido" />
        <activity android:name=".TotalVendidoPorDia" />
        <activity android:name=".Login" />
        <activity android:name=".RegistrarUsuario" />
        <activity android:name=".Listado" />
        <activity android:name=".ListadoTabla"></activity>
    </application>

</manifest>